#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    background: var(--surface);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    margin-bottom: 10px;
}

#logo-title {
    color: var(--primary);
    font-size: 1.5rem;
}

#nav-pages {
    display: flex;
    gap: 1.2rem;
}

#nav-pages a {
    text-decoration: none;
    font-weight: 600;
    color: var(--text);
}

#nav-actions {
    display: flex;
    gap: 1rem;
}

#nav-actions input {
    padding: 0.3rem 0.75rem;
    border-radius: var(--radius);
    border: 1px solid #ddd;
    width: 15.5rem;
    font-size: 0.9rem;
}

#nav-actions #add-recipe-btn {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 0.75rem 1.15rem;
    border-radius: var(--radius);
    font-weight: 600;
    cursor: pointer;
}

#nav-actions #add-recipe-btn:hover {
    opacity: 0.9;
}