/* RECENT RECIPES */
.title {
    font-size: 1.2rem;
    color: var(--text);
    margin-bottom: 0.9rem;
}

.icon {
    color: orange;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
