#add-recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#add-recipe-form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    padding: 30px;
    border-radius: 10px;
    max-width: 700px;
}

#add-recipe-form h2 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}


#tags-input-container, 
#categories-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#categories-input-container input,
#tags-input-container input {
    flex: 1 1 30%;
    min-width: 200px;
}

#ingredients-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#instructions-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ingredient-row {
    display: flex;
    gap: 10px;
}

.ingredient-name {
    flex: 3;
    min-width: 0;
}

.ingredient-quantity {
    flex: 1;
    min-width: 0;
}

.ingredient-unit {
    flex: 1;
    min-width: 0;
}

#save-recipe-btn {
    background-color: var(--secondary);
}

#save-recipe-btn:hover {
    filter: brightness(0.9);
}