/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

button,
input {
    font: inherit;
}

body {
    /* 100% of the viewport height */
    min-height: 100vh;
    padding: 1rem;
}

/* CSS VARIABLES */
:root {
    --primary: #f97316;
    --primary-light: #fed7aa;
    --secondary: #0ba360;
    --secondary-light: #c6f4e0;

    --background: #fffaf5;
    --surface: #fdfdfd;

    --text: #1f2937;
    --text-light: #6b7280;

    --shadow: 0 10px 25px rgba(0,0,0,0.08);

    --radius: 10px;

    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 4rem;

    --max-width: 1200px;
}

/* NAVBAR */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    background: var(--surface);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    margin-bottom: 10px;
}

#logo-title {
    color: var(--primary);
    font-size: 1.5rem;
}

#nav-pages {
    display: flex;
    gap: 1.2rem;
}

#nav-pages a {
    text-decoration: none;
    font-weight: 600;
    color: var(--text);
}

#nav-actions {
    display: flex;
    gap: 1rem;
}

#nav-actions input {
    padding: 0.3rem 0.75rem;
    border-radius: var(--radius);
    border: 1px solid #ddd;
    width: 15.5rem;
    font-size: 0.9rem;
}

#nav-actions #add-recipe-btn {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 0.75rem 1.15rem;
    border-radius: var(--radius);
    font-weight: 600;
    cursor: pointer;
}

#nav-actions #add-recipe-btn:hover {
    opacity: 0.9;
}