.breakfast {
    color: #f97316;
    background-color: #ffedd5;
}

.lunch {
    color: #3b82f6;
    background: #dbeafe;
}

.dinner {
    color: #8b5cf6;
    background: #ede9fe;
}

.snacks {
    color: #eab308;
    background: #fef3c7;
}

.desserts {
    color: #ec4899;
    background: #fce7f3;
}

.beverages {
    color: #10b981;
    background: #d1fae5;
}

.highProtein {
    color: #ee2400;
    background-color: #fbded5;
}

.indian {
    color: #ff6700;
    background-color: #fae0cd;
}

.chicken {
    color: #b08968;
    background-color: #e5d0be;
}

.quickEasy {
    color: #495057;
    background-color: #dee2e6;
}